<div id="homepage" class="container p-5 my-5 d-flex flex-column align-items-center justify-content-center">
  <div class="text-center">
    <h1>Plan Master 5000</h1>
    <% if user_signed_in? %>
      <%= link_to "Go to my task list", plan_tasks_path, class: "btn btn-primary w-75" %>
    <% else %>
      <h3>Create an account or log in to plan your tasks.</h3>
      <%= link_to "Go to login page", user_session_path, class: "btn btn-primary w-75" %>
    <% end %>
  </div>
</div>
