<div class="container p-5 my-5">
  <h5>New task details</h5>
  <div class="card p-3">
    <%= render 'plan_tasks/form' %>
  </div>
  <%= link_to '< Back to the tasks', plan_tasks_path, class: 'btn btn-secondary mt-3' %>
</div>
